.footer{
    height: 350px;
    background: url(../images/yinyue_bg.jpg);
    .top{
        height:30px;
        background: url(../images/map_bottomimg.png)center;
        position: relative;
        top: -30px;
    }
    .music{
        padding: 116px 0 0 276px;
        height: 67px;
        >span{
            float: left;
            cursor: pointer;
            width: 57px;
            height: 57px;
            background: url(../images/yinyue_duo.png) no-repeat;
            margin-right: 26px;
            &:hover{
                background-position:0 -57px;
                animation:1s linear 0s normal none 1 running su-pudding;     
            }
        }
        .lai{
            background: url(../images/yinyue_lai.png) no-repeat;
        }
        .mi{
            background: url(../images/yinyue_mi.png) no-repeat;
        }
        .fa{
            background: url(../images/yinyue_fa.png) no-repeat;
        }
        .so{
            background: url(../images/yinyue_suo.png) no-repeat;
        }
        .la{
            background: url(../images/yinyue_la.png) no-repeat;
        }
        .xi{
            background: url(../images/yinyue_xi.png) no-repeat;
        }
    }
    .bottom{
        border-top: 2px #9890a2 dashed;
        text-align: center;
        line-height: 65px;
        margin-top: 79px;
        color: #fff;
        cursor: pointer;
    }
}
.fixed{
    width: 87px;
    height: 161px;
    position: fixed;
    right: 40px;
    bottom: 200px;
    display: block;
    .fix_top{
        background: url(../images/scroll_top_bg.png) no-repeat;
        height: 50px;
        width: 50px;
        cursor: pointer;
        margin-left: 17px;
        margin-bottom: 24px;
        &:hover{
            background-position:0 -50px;
	        transition: all 0.3s ease 0s;
        }
    }
    .fix_next{
        width: 87px;
        height: 87px;
        position: absolute;
        right: 0;
        top: 74px;
        background: url(../images/fixed_contactus.png) top right no-repeat;
        cursor: pointer;
        &:hover{
            animation:1s linear 0s normal none 1 running su-pudding;
            transition: all 0.5s ease 0s;
        }
    }
}
@keyframes su-pudding {
    0% {
        transform: scale(1.2, 0.78);
    }
    1% {
        transform: scale(1.18, 0.81);
    }
    2% {
        transform: scale(1.16, 0.84);
    }
    3% {
        transform: scale(1.12, 0.87);
    }
    4% {
        transform: scale(1, 0.9);
    }
    5% {
        transform: scale(1.10, 0.93);
    }
    6% {
        transform: scale(1.04, 0.96);
    }
    7% {
        transform: scale(1.01, 0.99);
    }
    8% {
        transform: scale(0.99, 1.02);
    }
    9% {
        transform: scale(0.97, 1.05);
    }
    10% {
        transform: scale(0.95, 1.08);
    }
    11% {
        transform: scale(0.94, 1.06);
    }
    12% {
        transform: scale(0.93, 1.04);
    }
    13% {
        transform: scale(0.93, 1.07);
    }
    14% {
        transform: scale(0.93, 1.07);
    }
    15% {
        transform: scale(0.93, 1.07);
    }
    16% {
        transform: scale(0.94, 1.06);
    }
    17% {
        transform: scale(0.94, 1.06);
    }
    18% {
        transform: scale(0.95, 1.05);
    }
    19% {
        transform: scale(0.96, 1.04);
    }
    20% {
        transform: scale(0.98, 1.02);
    }
    21% {
        transform: scale(0.99, 1.01);
    }
    22% {
        transform: scale(1, 1);
    }
    23% {
        transform: scale(1, 1);
    }
    24% {
        transform: scale(1.01, 0.99);
    }
    25% {
        transform: scale(1.02, 0.98);
    }
    26% {
        transform: scale(1.02, 0.98);
    }
    27% {
        transform: scale(1.02, 0.98);
    }
    28% {
        transform: scale(1.03, 0.97);
    }
    29% {
        transform: scale(1.03, 0.97);
    }
    30% {
        transform: scale(1.02, 0.98);
    }
    31% {
        transform: scale(1.02, 0.98);
    }
    32% {
        transform: scale(1.02, 0.98);
    }
    33% {
        transform: scale(1.02, 0.98);
    }
    34% {
        transform: scale(1.01, 0.99);
    }
    35% {
        transform: scale(1.01, 0.99);
    }
    36% {
        transform: scale(1.01, 0.99);
    }
    37% {
        transform: scale(1, 1);
    }
    38% {
        transform: scale(1, 1);
    }
    39% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(0.99, 1.01);
    }
    41% {
        transform: scale(0.99, 1.01);
    }
    42% {
        transform: scale(0.99, 1.01);
    }
    43% {
        transform: scale(0.99, 1.01);
    }
    44% {
        transform: scale(0.99, 1.01);
    }
    45% {
        transform: scale(0.99, 1.01);
    }
    46% {
        transform: scale(0.99, 1.01);
    }
    47% {
        transform: scale(0.99, 1.01);
    }
    48% {
        transform: scale(0.99, 1.01);
    }
    49% {
        transform: scale(1, 1);
    }
}